@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}
<div class="row">
    <div class="container mb-4 col-2">

        <a asp-action="Create" class="btn btn-success"> Add Category </a>

    </div>

</div>

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        No Categories were added yet!
    </div>
}
else
{
    <table class="table table-hover" id="page">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in Model)
            {
                <tr class="table-dark">
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>
                        <img class="image-container" src="@($"{Settings.imagesPath}/{category.Image}")" style="max-width:150px;" />
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-categoryId="@category.Id" class="btn btn-info rounded rounded-3 me-4">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="javascript:;"
                        class="js-delete btn btn-danger rounded rounded-3" data-id="@category.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}   

 @section Scripts{
    <script src="~/js/category-index.js"></script>
 }